In [ ]:
import pandas as pd

data = {
    "Name": ["Shah", "Vats", "Vats", "Kumar", "Vats","Kumar", "Shah", "Shah", "Kumar", "Vats"],
    "Gender": ["Male", "Male", "Female", "Female", "Female","Male", "Male", "Female", "Female", "Male"],
    "MonthlyIncome": [114000, 65000, 43150, 69500, 155000,103000, 55000, 112400, 81030, 71900]
}

df = pd.DataFrame(data)

print(df)

    Name  Gender  MonthlyIncome
0   Shah    Male         114000
1   Vats    Male          65000
2   Vats  Female          43150
3  Kumar  Female          69500
4   Vats  Female         155000
5  Kumar    Male         103000
6   Shah    Male          55000
7   Shah  Female         112400
8  Kumar  Female          81030
9   Vats    Male          71900

In [19]:
family_income = df.groupby("Name")["MonthlyIncome"].sum()

print("\nFamily-wise Gross Monthly Income:\n")
print(family_income)

Family-wise Gross Monthly Income:

Name
Kumar    253530
Shah     281400
Vats     335050
Name: MonthlyIncome, dtype: int64

In [20]:
income_stats = df.groupby("Name")["MonthlyIncome"].agg(["max", "min"])

print("\nHighest and Lowest Income for Each Family:\n")
print(income_stats)

Highest and Lowest Income for Each Family:

          max    min
Name
Kumar  103000  69500
Shah   114000  55000
Vats   155000  43150

In [21]:
low_income = df[df["MonthlyIncome"] < 80000]

print("\nMembers earning less than 80000:\n")
print(low_income)

Members earning less than 80000:

    Name  Gender  MonthlyIncome
1   Vats    Male          65000
2   Vats  Female          43150
3  Kumar  Female          69500
6   Shah    Male          55000
9   Vats    Male          71900

In [22]:
female_data = df[df["Gender"] == "Female"]

female_count = female_data.shape[0]

print("\nTotal Females:", female_count)
print("Average Female Income:", female_data["MonthlyIncome"].mean())

Total Females: 5
Average Female Income: 92216.0

In [27]:
overall_avg = df["MonthlyIncome"].mean()
overall_avg

df = df[df["MonthlyIncome"] >= overall_avg]

print("\nData after deleting rows with income less than overall average:\n")
print(df)

Data after deleting rows with income less than overall average:

   Name  Gender  MonthlyIncome
4  Vats  Female         155000